<div fxLayout="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-tab-group>
        <!-- Tab 1 -->
        <mat-tab label="Profile & Status">
          <div fxLayout="row wrap">
            <!-- Card column -->
            <div
              fxFlex.gt-lg="25"
              fxFlex.gt-md="60"
              fxFlex.gt-xs="100"
              fxFlex="100"
            >
              <mat-card class="oh text-center little-profile">
                <img
                  mat-card-image
                  height="100"
                  src="assets/images/background/profile-bg.jpg"
                  alt="Photo of a Shiba Inu"
                />
                <mat-card-content>
                  <div class="pro-img">
                    <img
                      src="assets/images/users/4.jpg"
                      width="100"
                      alt="user"
                    />
                  </div>
                  <h3 class="m-b-0">Martin Mondragon</h3>
                  <h6 class="m-t-0 ">Status: OnHold</h6>
                  <!-- <mat-card-actions>
                    <button mat-raised-button color="warn">Follow</button>
                  </mat-card-actions> -->
                  <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-10">
                    <div
                      fxFlex.gt-sm="30%"
                      fxFlex.gt-xs="30%"
                      fxFlex="100"
                      style="margin-right: 20px"
                    >
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="First Name" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div
                      fxFlex.gt-sm="30%"
                      fxFlex.gt-xs="30%"
                      fxFlex="100"
                      style="margin-right: 20px"
                    >
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Last Name" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div
                      fxFlex.gt-sm="30%"
                      fxFlex.gt-xs="30%"
                      fxFlex="100"
                      style="margin-right: 20px"
                    >
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Contact Number" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-10">
                    <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Address" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-10">
                    <div
                      fxFlex.gt-sm="30%"
                      fxFlex.gt-xs="30%"
                      fxFlex="100"
                      style="margin-right: 20px"
                    >
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="City" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div
                      fxFlex.gt-sm="30%"
                      fxFlex.gt-xs="30%"
                      fxFlex="100"
                      style="margin-right: 20px"
                    >
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="State" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div
                      fxFlex.gt-sm="30%"
                      fxFlex.gt-xs="30%"
                      fxFlex="100"
                      style="margin-right: 20px"
                    >
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Zipcode" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-10">
                    <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-card-content style="padding: 0">
                          <mat-form-field>
                            <mat-select placeholder="Agents">
                              <mat-option
                                *ngFor="let rep of reps"
                                [value]="rep"
                              >
                                {{ rep }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </mat-card-content>
                      </div>
                    </div>
                  </div>

                  <div
                    fxLayout="row"
                    fxLayoutWrap="wrap"
                    class="m-t-10 p-t-1 p-b-1"
                  >
                    <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <textarea matInput placeholder="Notes"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- Card column -->
            <!-- Card column -->
            <div fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100">
              <mat-card>
                <mat-card-content>
                  <ul class="timeline">
                    <li>
                      <div class="timeline-badge success">
                        <img
                          class="img-responsive"
                          alt="user"
                          src="assets/images/users/1.jpg"
                          alt="img"
                        />
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Contract</h4>
                          <p>
                            <small class="text-muted">
                              <div>
                                <i class="fa fa-clock-o"></i> Signed Aggrement
                              </div>
                              <strong>03-17-2020</strong></small
                            >
                          </p>
                        </div>
                      </div>
                    </li>

                    <li class="timeline-inverted">
                      <div class="timeline-badge warning">
                        <img
                          class="img-responsive"
                          alt="user"
                          src="assets/images/users/2.jpg"
                          alt="img"
                        />
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Acceptance</h4>
                          <p>
                            <small class="text-muted">
                              <div>
                                <i class="fa fa-clock-o"></i> Welcome Call
                              </div>
                              <strong>03-17-2020</strong></small
                            >
                          </p>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="timeline-badge danger">
                        <i class="fa fa-bomb"></i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Design</h4>
                          <p>
                            <small class="text-muted">
                              <div>
                                <i class="fa fa-clock-o"></i> Start Date
                                <strong>04-03-2020</strong>
                              </div>
                              <div>
                                <i class="fa fa-clock-o"></i> Completed Date:
                                <strong>N/A</strong>
                              </div>
                            </small>
                          </p>
                        </div>
                      </div>
                    </li>

                    <li class="timeline-inverted">
                      <div class="timeline-badge warning">
                        <i class="fa fa-file"></i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Permit</h4>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="timeline-badge info">
                        <i class="fa fa-save"></i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Installation</h4>
                        </div>
                      </div>
                    </li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <!-- End Tab 1 -->
        <!-- Tab 2 -->
        <mat-tab label="Proposal">
          <mat-card-content>
            <mat-card-title>Proposal: Build System</mat-card-title>
            <!-- ============================================================== -->
            <!-- column -->
            <!-- ============================================================== -->
            <form class="basic-form">
              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                    <mat-select
                      placeholder="How would you like to build your system?"
                    >
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option">Option2</mat-option>
                      <mat-option value="option">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div fxFlex.gt-sm="100" fxFlex="100">
                  <strong>Enter 12-Month Bill/Kwh</strong>
                  <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-1">
                    <div fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex.gt-sm="15" fxFlex.gt-xs="15%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div fxFlex.gt-sm="100" fxFlex="100">
                  <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-10">
                    <div fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex.gt-sm="17%" fxFlex.gt-xs="17%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div fxFlex.gt-sm="15" fxFlex.gt-xs="15%" fxFlex="100">
                      <div fxFlex.gt-md="100" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Bill/Kwh" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                    <input matInput placeholder="Enter Annual Bill/Kwh" />
                  </mat-form-field>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Enter System Size Watts/Kwh"
                      type="email"
                    />
                  </mat-form-field>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="How would you like to input contract price?"
                    />
                  </mat-form-field>
                </div>

                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                    <input matInput placeholder="Rate" />
                  </mat-form-field>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <button mat-raised-button color="primary">
                    Update Profile
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-tab>

        <mat-tab label="Back Office">
          <!-- ============================================================== -->
          <!-- As an Accordion -->
          <!-- ============================================================== -->
          <mat-card>
            <mat-card-content>
              <mat-card-title>Accordion</mat-card-title>
              <mat-card-subtitle>Expansion panel</mat-card-subtitle>

              <mat-accordion class="example-headers-align">
                <mat-expansion-panel
                  [expanded]="step === 0"
                  (opened)="setStep(0)"
                  hideToggle="true"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> Default Information </mat-panel-title>
                    <mat-panel-description>
                      Type your name and age
                      <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <input matInput placeholder="First name" />
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="number" min="1" placeholder="Age" />
                  </mat-form-field>
                  <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep()">
                      Next
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel
                  [expanded]="step === 1"
                  (opened)="setStep(1)"
                  hideToggle="true"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> Contract Status </mat-panel-title>
                    <mat-panel-description>
                      Type the country name
                      <mat-icon>map</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <input matInput placeholder="Country" />
                  </mat-form-field>
                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">
                      Previous
                    </button>
                    <button mat-button color="primary" (click)="nextStep()">
                      Next
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel
                  [expanded]="step === 2"
                  (opened)="setStep(2)"
                  hideToggle="true"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> Holds </mat-panel-title>
                    <mat-panel-description>
                      Type the country name
                      <mat-icon>map</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <input matInput placeholder="Country" />
                  </mat-form-field>
                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">
                      Previous
                    </button>
                    <button mat-button color="primary" (click)="nextStep()">
                      Next
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel
                  [expanded]="step === 3"
                  (opened)="setStep(3)"
                  hideToggle="true"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> Installer Adders </mat-panel-title>
                    <mat-panel-description>
                      Type the country name
                      <mat-icon>map</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <input matInput placeholder="Country" />
                  </mat-form-field>
                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">
                      Previous
                    </button>
                    <button mat-button color="primary" (click)="nextStep()">
                      Next
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel
                  [expanded]="step === 4"
                  (opened)="setStep(4)"
                  hideToggle="true"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> In-House Adders </mat-panel-title>
                    <mat-panel-description>
                      Type the country name
                      <mat-icon>map</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <input matInput placeholder="Country" />
                  </mat-form-field>
                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">
                      Previous
                    </button>
                    <button mat-button color="primary" (click)="nextStep()">
                      Next
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel
                  [expanded]="step === 5"
                  (opened)="setStep(5)"
                  hideToggle="true"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> Installer Commisions </mat-panel-title>
                    <mat-panel-description>
                      Type the country name
                      <mat-icon>map</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <input matInput placeholder="Country" />
                  </mat-form-field>
                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">
                      Previous
                    </button>
                    <button mat-button color="primary" (click)="nextStep()">
                      Next
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel
                  [expanded]="step === 6"
                  (opened)="setStep(6)"
                  hideToggle="true"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> Payroll Commisions </mat-panel-title>
                    <mat-panel-description>
                      Type the country name
                      <mat-icon>map</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field>
                    <input matInput placeholder="Country" />
                  </mat-form-field>
                  <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">
                      Previous
                    </button>
                    <button mat-button color="primary" (click)="nextStep()">
                      Next
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <mat-tab label="Chat Box">
          <mat-card-content>
            <mat-card-title>Chat Box</mat-card-title>
            <!-- ============================================================== -->
            <!-- column -->
            <!-- ============================================================== -->
            <form class="basic-form">
              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                    <input matInput placeholder="Some text value" />
                  </mat-form-field>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                    <input matInput placeholder="EmailId" type="email" />
                  </mat-form-field>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                    <input matInput placeholder="Password" type="password" />
                  </mat-form-field>
                </div>

                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                    <mat-select placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option">Option2</mat-option>
                      <mat-option value="option">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <mat-form-field>
                    <textarea matInput placeholder="Textarea"></textarea>
                  </mat-form-field>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100">
                  <button mat-raised-button color="primary">
                    Update Profile
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
