<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>System Builder</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form class="basic-form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <!-- column -->
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Utility Payment" />
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Utility / Kw rate" />
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Energy Production Watts" />
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Panel Wattage" />
              </mat-form-field>
            </div>
          </div>
        </form>
        <div fxLayout="row wrap">
          <!-- column -->
          <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-info text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">2064</h2>
                  <small>Needed Yr Production</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">1,738</h2>
                  <small># of Panels</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-success text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">5693</h2>
                  <small>System Size</small>
                </div>
              </mat-card>
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content class="m-b-0">
        <mat-card-title>System Builder</mat-card-title>
        <!-- <mat-card-subtitle
          >Calculadora <code>test</code> description instructions goes here
          <code>test</code> hgdgdg</mat-card-subtitle
        > -->
    
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form class="basic-form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <!-- column -->
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select
                  placeholder="Location"
                  [(ngModel)]="selectedLocation"
                  name="location"
                >
                  <mat-option
                    *ngFor="let location of locations"
                    [value]="location.value"
                  >
                    {{ location.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="Lender"
                [(ngModel)]="selectedLender"
                name="lender">
                  <mat-option 
                  *ngFor="let lender of lenders" 
                  [value]="lender.value">
                    {{ lender.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="MGR/Trainer CMS"
                [(ngModel)]="selectedTrainerCms"
                name="trainerCms">
                  <mat-option 
                  *ngFor="let tcms of trainerCms" 
                  [value]="tcms.value">
                    {{ tcms.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="Split Commission"
                [(ngModel)]="selectedTraineeCms"
                name="traineeCms">
                  <mat-option
                    *ngFor="let trainee of traineeCms"
                    [value]="trainee.value"
                  >
                    {{ trainee.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input [(ngModel)]="bonusPPW" name="bonus-ppw" matInput placeholder="Bonus PPW" />
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
              <mat-form-field>
                <input [(ngModel)]="initialSystemSize" name="system-size"  matInput placeholder="System Size" />
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
      <div fxLayout="row wrap">
          <div fxFlex.gt-sm="100" fxFlex="100">
            <mat-accordion>
              <mat-expansion-panel class="adders-section">
                <mat-expansion-panel-header class="adders-section-header">
                  <mat-panel-title> Adders </mat-panel-title>
                  <mat-panel-description>
                    Apply Adders
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                        <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox (change)="aggregateAdders()" [(ngModel)]="leds24Pack.isSelected" class="example-margin">{{leds24Pack.description}}</mat-checkbox>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="adjustQuantity(leds24Pack)" [(ngModel)]="leds24Pack.price" matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="aggregateAdders()" [(ngModel)]="leds24Pack.quantity" matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                              <div style="margin: auto">total: <b>{{leds24PackTotal}}</b></div>
                            </div>
                          </div>
                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox (change)="adjustQuantity(thermostats)" [(ngModel)]="thermostats.isSelected" class="example-margin">Thermostats</mat-checkbox>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="adjustQuantity(thermostats)" [(ngModel)]="thermostats.price" matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="aggregateAdders()" [(ngModel)]="thermostats.quantity" matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                              <div style="margin: auto">total: <b>{{thermostatsTotal}}</b></div>
                            </div>
                          </div>
                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox (change)="adjustQuantity(voltioBox)" [(ngModel)]="voltioBox.isSelected" class="example-margin">Voltiobox</mat-checkbox>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="adjustQuantity(voltioBox)" [(ngModel)]="voltioBox.price" matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="aggregateAdders()" [(ngModel)]="voltioBox.quantity" matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                              <div style="margin: auto">total: <b>{{voltioBoxTotal}}</b></div>
                            </div>
                          </div>
                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox (change)="adjustQuantity(voltioWash)" [(ngModel)]="voltioWash.isSelected" class="example-margin">Voltio wash</mat-checkbox>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="adjustQuantity(voltioWash)" [(ngModel)]="voltioWash.price" matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="aggregateAdders()" [(ngModel)]="voltioWash.quantity" matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                              <div style="margin: auto">total: <b>{{voltioWashTotal}}</b></div>
                            </div>
                          </div>
                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox (change)="adjustQuantity(mpu)" [(ngModel)]="mpu.isSelected" class="example-margin">MPU</mat-checkbox>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="adjustQuantity(mpu)" [(ngModel)]="mpu.price" matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="aggregateAdders()" [(ngModel)]="mpu.quantity" matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                              <div style="margin: auto">total: <b>{{mpuTotal}}</b></div>
                            </div>
                          </div>
                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox (change)="adjustQuantity(aeroseal)" [(ngModel)]="aeroseal.isSelected" class="example-margin">Aeroseal</mat-checkbox>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="adjustQuantity(aeroseal)" [(ngModel)]="aeroseal.price" matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="aggregateAdders()" [(ngModel)]="aeroseal.quantity" matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                              <div style="margin: auto">total: <b>{{aerosealTotal}}</b></div>
                            </div>
                          </div>
                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox (change)="adjustQuantity(eeWindows)" [(ngModel)]="eeWindows.isSelected" class="example-margin">EE Windows </mat-checkbox>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="adjustQuantity(eeWindows)" [(ngModel)]="eeWindows.price" matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input type="number" (change)="aggregateAdders()" [(ngModel)]="eeWindows.quantity" matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                              <div style="margin: auto">total: <b>{{eeWindowsTotal}}</b></div>
                            </div>
                          </div>
                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox class="example-margin"
                              >Insulation sq ft</mat-checkbox
                            >
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox class="example-margin">Roofing</mat-checkbox>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox class="example-margin">HVAC Unit</mat-checkbox>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                            <mat-checkbox class="example-margin">Small Sys Fee</mat-checkbox>
                            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input matInput placeholder="$" />
                                </mat-form-field>
                              </div>
                              <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field class="text-center">
                                  <input matInput placeholder="qty" />
                                </mat-form-field>
                              </div>
                            </div>
                          </div>

                          <div fxFlex.gt-sm="16.66" fxFlex="100" class="p-10 adder">
                              <mat-card-title>Total Adders</mat-card-title>
                              <mat-card-title>{{totalAdders}}</mat-card-title>
                            </div>
                          

                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
    </mat-card>
  </div>
</div>


<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>PPW Information</mat-card-title>
        <!-- <mat-card-subtitle
          >Calculadora <code>test</code> description instructions goes here
          <code>test</code> hgdgdg</mat-card-subtitle
        > -->
        <div fxLayout="row wrap">
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-info text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{systemSizeWithAdders}}</h2>
                  <small>System Size w/adders</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{systemPriceNoAdders}}</h2>
                  <small>System Price No Adders</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-success text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{ selectedLocation.ppw }}</h2>
                  <small>Current PPW</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{adderPlusDealerFee | number:'1.0-0'}}</h2>
                  <small>Adder+Dealer Fee</small>
                </div>
              </mat-card>
            </a>
          </div>
        </div>

        <div fxLayout="row wrap">
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-info text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{taxCredit | number:'1.0-0'}}</h2>
                  <small>Tax Credit</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{loanAfterTaxCredit | number:'1.0-0'}}</h2>
                  <small>Loan After Tax Credit</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-success text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{ selectedLocation.redline }}</h2>
                  <small>Redline</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{systemPriceWithAdders | number:'1.0-0'}}</h2>
                  <small>System Price W Adders</small>
                </div>
              </mat-card>
            </a>
          </div>
        </div>

        <div fxLayout="row wrap">
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-info text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{newPpwWithAdders  | number:'1.0-2'}}</h2>
                  <small>New PPW w/adders</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{netPpw  | number:'1.0-2'}}</h2>
                  <small>Net PPW</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-success text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{taxCreditPercent}}</h2>
                  <small>Tax Credit %</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{payoutPpw | number:'1.0-2'}}</h2>
                  <small>Payout PPW</small>
                </div>
              </mat-card>
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Lender</mat-card-title>
        <mat-card-subtitle>LP 25yr 2.99 22.05%</mat-card-subtitle>
        <div fxLayout="row wrap">
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-info text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{selectedLender.termMonths}}</h2>
                  <small>Term months</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{selectedLender.interest}}</h2>
                  <small>Interest</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-success text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{selectedLender.fee}}</h2>
                  <small>Fee</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{dealerFeeCost | number:'1.0-0'}}</h2>
                  <small>Dealer Fee Cost</small>
                </div>
              </mat-card>
            </a>
          </div>
        </div>

        <div fxLayout="row wrap">
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-info text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{monthlyPayment | number:'1.0-0'}}</h2>
                  <small>Monthly Payment</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{noTaxCPayment  | number:'1.0-0'}}</h2>
                  <small>No Tax C. Payment</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-success text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{fourMonthPromo  | number:'1.0-0'}}</h2>
                  <small>4 Month Promo</small>
                </div>
              </mat-card>
            </a>
          </div>
          <!-- column -->
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <a href="javascript:void">
              <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                  <h2 class="m-0">{{adminFee}}</h2>
                  <small>Admin Fee</small>
                </div>
              </mat-card>
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- column -->
        <div class="stats">
          <mat-card-title>MGR/Trainer CMS</mat-card-title>
          <mat-card-subtitle>{{selectedTrainerCms.description}}</mat-card-subtitle>

          <div class="d-flex flex-row no-block">
            <div class="p-10 p-l-0 b-r">
              <div class="font-light">Commission/KW</div>
              <b >{{trainerCalculatedCommission}}</b>
            </div>
            <div class="p-10 b-r">
              <div class="font-light">Total</div>
              <b>${{TotalTrainerCalculatedCommission | number:'1.0-0'}}</b>
            </div>
            <div class="p-10">
              <div class="font-light">MP1</div>
              <b>${{trainerMp1 | number:'1.0-0'}}</b>
            </div>
            <div class="p-10">
              <div class="font-light">MP2</div>
              <b>${{trainerMp2 | number:'1.0-0'}}</b>
            </div>
          </div>
        </div>
        <div class="sitea"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- column -->
        <!-- column -->
        <div class="stats">
          <mat-card-title>Split Commission </mat-card-title>
          <mat-card-subtitle>{{selectedTraineeCms.description}}</mat-card-subtitle>

          <div class="d-flex flex-row no-block">
            <div class="p-10 p-l-0 b-r">
              <div class="font-light">Commission/KW</div>
              <b>${{selectedTraineeCms.commisionPerWatt}}</b>
            </div>
            <div class="p-10 b-r">
              <div class="font-light">Total</div>
              <b>${{TotalTraineeCalculatedCommission | number:'1.0-0'}}</b>
            </div>
            <div class="p-10">
              <div class="font-light">MP1</div>
              <b>${{traineeMp1 | number:'1.0-0'}}</b>
            </div>
            <div class="p-10">
              <div class="font-light">MP2</div>
              <b>${{traineeMp2 | number:'1.0-0'}}</b>
            </div>
          </div>
        </div>
        <div class="siteb"></div>
      </mat-card-content>
    </mat-card>
  </div>
 
  <!-- column -->

  <!-- column -->
</div>

<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- column -->
        <div class="stats">
          <mat-card-title>TOTAL Payout</mat-card-title>
          <mat-card-subtitle> <b>{{totalPayout | number:'1.0-0'}}</b> </mat-card-subtitle>

          <div class="d-flex flex-row no-block">
            <div class="p-10 p-l-0 b-r">
              <div class="font-light">MP1</div>
              <b>${{totalPayoutMp1 | number:'1.0-0'}}</b>
            </div>
            <div class="p-10 b-r">
              <div class="font-light">MP2</div>
              <b>${{totalPayoutMp2 | number:'1.0-0'}}</b>
            </div>
          </div>
        </div>
        <div class="sitea"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- column -->
        <!-- column -->
        <div class="stats">
          <mat-card-title>Voltio Payout</mat-card-title>
          <mat-card-subtitle > <b class="totalInfoCard">{{totalVoltioPayout | number:'1.0-0' }}</b> </mat-card-subtitle>

          <div class="d-flex flex-row no-block">
            <div class="p-10 p-l-0 b-r">
              <div class="font-light">MP1</div>
              <b>${{totalVoltioPayoutMp1 | number:'1.0-0'}}</b>
            </div>
            <div class="p-10 b-r">
              <div class="font-light">MP2</div>
              <b>${{totalVoltioPayoutMp2 | number:'1.0-0'}}</b>
            </div>
          </div>
        </div>
        <div class="siteb"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- column -->
        <div class="stats">
          <mat-card-title>Bonus</mat-card-title>
          <mat-card-subtitle>Commission Information</mat-card-subtitle>
          <div class="d-flex flex-row no-block">
            <div class="p-10 p-l-0 b-r">
              <div class="font-light ">Breakdown</div>
              <b>${{bonusCommissionBreakdown | number:'1.0-0'}}</b>
            </div>
            <div class="p-10 b-r">
              <div class="font-light">.55 Volt</div>
              <b>${{bonusCms55 | number:'1.0-0'}}</b>
            </div>
            <div class="p-10">
              <div class="font-light">.45 Rep</div>
              <b>${{bonusCms45 | number:'1.0-0'}}</b>
            </div>
          </div>
        </div>
        <div class="sitec"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->

  <!-- column -->
</div>
