<div fxLayout="row wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title class="p-b-20">Create Proposal</mat-card-title>

        <button
          mat-raised-button
          (click)="isLinear = !isLinear"
          id="toggle-linear"
        >
          {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
        </button>
        <mat-vertical-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Energy Consumption</ng-template>
              <mat-form-field>
                <mat-select placeholder="Select Utility Name">
                  <mat-option *ngFor="let util of utilities" [value]="util">
                    {{ util }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Select Rate Schedule">
                  <mat-option *ngFor="let rate of rates" [value]="rate">
                    {{ rate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div
                fxLayout="row"
                fxLayoutWrap="wrap"
                class="m-t-10"
                *ngFor="let month of months"
              >
                <div
                  fxFlex.gt-sm="15%"
                  fxFlex.gt-xs="15%"
                  fxFlex="100"
                  style="margin-right: 20px"
                >
                  <div fxFlex.gt-md="100" fxFlex="100">
                    <div class="p-t-20">
                      {{ month }}
                    </div>
                  </div>
                </div>
                <div fxFlex.gt-sm="42%" fxFlex.gt-xs="42%" fxFlex="100">
                  <div fxFlex.gt-md="100" fxFlex="100">
                    <mat-form-field>
                      <input matInput placeholder="KWH" />
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex.gt-sm="42%" fxFlex.gt-xs="42%" fxFlex="100">
                  <div fxFlex.gt-md="100" fxFlex="100">
                    <mat-form-field>
                      <input matInput placeholder="$" />
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-10">
                <button
                  color="primary"
                  fxFlex="100"
                  mat-raised-button
                  (click)="isLinear = !isLinear"
                  id="toggle-linear"
                >
                  Calculate
                </button>
              </div>

              <mat-card-title class="p-t-20 text-center"
                >Consumption Summary</mat-card-title
              >

              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-info text-white text-center">
                      <div class="p-10">
                        <h2 class="m-0">$20</h2>
                        <small>Average Montly Bill</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-purple text-white text-center">
                      <div class="p-10">
                        <h2 class="m-0">$0.33Kwh</h2>
                        <small>Average Electric Price</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
              </div>

              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Property Details</ng-template>
              <mat-card-title class="p-t-20 text-center"
                >Please select the solar panel location</mat-card-title
              >
              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-info text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/houses/housesingle.png"
                            class="img-fluid img-circle"
                          />
                        </div>
                        <small>Single Story Home</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-purple text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/houses/housesingle.png"
                            class="img-fluid img-circle"
                          />
                        </div>
                        <small>Single Story Home</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-success text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/houses/housesingle.png"
                            class="img-fluid img-circle"
                          />
                        </div>
                        <small>Single Story Home</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-inverse text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/houses/housesingle.png"
                            class="img-fluid img-circle"
                          />
                        </div>
                        <small>Single Story Home</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
              </div>

              <mat-card-title class="p-t-20 text-center"
                >What type of roofing material?</mat-card-title
              >

              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-info text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/big/img5.jpg"
                            class="img-responsive rounded"
                          />
                        </div>
                        <small>Shingles</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-purple text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/big/img5.jpg"
                            class="img-responsive rounded"
                          />
                        </div>
                        <small>S-Type Concrete</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-success text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/big/img5.jpg"
                            class="img-responsive rounded"
                          />
                        </div>
                        <small>Flat Concrete Tile</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-inverse text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/big/img5.jpg"
                            class="img-responsive rounded"
                          />
                        </div>
                        <small>Metal</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-megna text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/big/img5.jpg"
                            class="img-responsive rounded"
                          />
                        </div>
                        <small>Flat</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
              </div>
              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-info text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/big/img5.jpg"
                            class="img-responsive rounded"
                          />
                        </div>
                        <small>Clay</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-purple text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/big/img5.jpg"
                            class="img-responsive rounded"
                          />
                        </div>
                        <small>Rock</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-success text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/big/img5.jpg"
                            class="img-responsive rounded"
                          />
                        </div>
                        <small>Slate or Stone</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-inverse text-white text-center">
                      <div class="p-10">
                        <div class="m-0">
                          <img
                            style="max-height: 40px"
                            src="assets/images/big/img5.jpg"
                            class="img-responsive rounded"
                          />
                        </div>
                        <small>Wood Shake</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
              </div>

              <mat-card-title class="p-t-20 text-center"
                >What is the condition of roof?</mat-card-title
              >
              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-info text-white text-center">
                      <div class="p-10">
                        <h2 class="m-0">Excellent</h2>
                        <small>40+ Years Remaining</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-purple text-white text-center">
                      <div class="p-10">
                        <h2 class="m-0">Good</h2>
                        <small>20+ Years Remaining</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
                  <a href="javascript:void">
                    <mat-card class="bg-success text-white text-center">
                      <div class="p-10">
                        <h2 class="m-0">Average</h2>
                        <small>10+ Years Remaining</small>
                      </div>
                    </mat-card>
                  </a>
                </div>
              </div>

              <mat-card-title class="p-t-20 text-center"
                >What is the brand of main electric panel?</mat-card-title
              >
              <mat-form-field>
                <mat-select placeholder="Select Utility Name">
                  <mat-option *ngFor="let util of utilities" [value]="util">
                    {{ util }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div fxLayout="row wrap">
                <!-- column -->
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                  <h4>Breaker Switch Amperage</h4>
                  <mat-button-toggle-group #group="matButtonToggleGroup">
                    <mat-button-toggle value="100 AMPs">
                      <!-- <mat-icon>format_align_left</mat-icon> -->
                      100 AMPs
                    </mat-button-toggle>
                    <mat-button-toggle value="125 AMPs">
                      125 AMPs
                    </mat-button-toggle>
                    <mat-button-toggle value="150 AMPs">
                      150 AMPs
                    </mat-button-toggle>
                    <mat-button-toggle value="200 AMPs">
                      200 AMPs
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <div class="m-t-20">Selected value: {{ group.value }}</div>
                </div>

                <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                  <h4>Door Main Breaker Amperage</h4>
                  <mat-button-toggle-group #group="matButtonToggleGroup">
                    <mat-button-toggle value="100 AMPs">
                      <!-- <mat-icon>format_align_left</mat-icon> -->
                      100 AMPs
                    </mat-button-toggle>
                    <mat-button-toggle value=" 125 AMPs">
                      125 AMPs
                    </mat-button-toggle>
                    <mat-button-toggle value="150 AMPs">
                      150 AMPs
                    </mat-button-toggle>
                    <mat-button-toggle value=" 175 AMPs">
                      175 AMPs
                    </mat-button-toggle>
                    <mat-button-toggle value=" 200 AMPs">
                      200 AMPs
                    </mat-button-toggle>
                    <mat-button-toggle value="225 AMPs">
                      225 AMPs
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  <div class="m-t-20">Selected value: {{ group.value }}</div>
                </div>
              </div>

              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Project Details</ng-template>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Address"
                  formControlName="secondCtrl"
                  required
                />
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Finance Details</ng-template>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Address"
                  formControlName="secondCtrl"
                  required
                />
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Complete Agreements</ng-template>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Address"
                  formControlName="secondCtrl"
                  required
                />
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Schedule Inspection</ng-template>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Address"
                  formControlName="secondCtrl"
                  required
                />
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Upload Documents</ng-template>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Address"
                  formControlName="secondCtrl"
                  required
                />
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
